# Import Data

In [1]:
# Link to dataset
url = 'https://query.data.world/s/ghrtsvkjjy26hpojr3qi2zkbska4sr'

In [2]:
# Import Library to upload the data
# E.g. with pandas
import pandas as pd

In [3]:
# Store data
df = pd.read_csv(url)

In [4]:
# Show first 5 rows
df.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [5]:
# Store Date and News in 2 lists
dates = df.Date.tolist()
news = df.News.tolist()

In [6]:
# Show first 5 Dates
dates[:5]

['2016-07-01', '2016-07-01', '2016-07-01', '2016-07-01', '2016-07-01']

In [7]:
# Show first 5 News
news[:5]

['A 117-year-old woman in Mexico City finally received her birth certificate, and died a few hours later. Trinidad Alvarez Lira had waited years for proof that she had been born in 1898.',
 'IMF chief backs Athens as permanent Olympic host',
 'The president of France says if Brexit won, so can Donald Trump',
 "British Man Who Must Give Police 24 Hours' Notice of Sex Threatens Hunger Strike: The man is the subject of a sexual risk order despite having never been convicted of a crime.",
 '100+ Nobel laureates urge Greenpeace to stop opposing GMOs']

In [10]:
# Extract for 2015
news2015 = []
for i in range(len(dates)):
    if dates[i][:4] == '2015':
        news2015.append(news[i])

In [11]:
news2015[:5]

['Microsoft Corp said on Wednesday it will begin warning users of its Outlook.com email service when the company suspects that a government has been trying to hack into their accounts.',
 "Greek Orthodox Church: Homosexuals are God's creation - the church doesn't reject people.",
 'Vladmir Putin officially dissolves Roscosmos, the Russian Space Agency and will restructure it as a state-run corporation starting January 1, 2016.',
 'Donald Trump could be refused entry to the UK after the Home Secretary Theresa May said she will ban people that are non-conducive to the public good. The petition to ban him has over half million signatures.',
 'Saudi Arabia says its ready to meet any additional oil demand. We will satisfy the demand of our customers. We no longer limit production. If there is demand, we will respond. We have the capacity to respond to demand, Saudi oil minister said.']

In [12]:
# Extract words
testwords = ' '.join([i.lower() for i in news2015]).split()

In [13]:
# Calculate frequencies
frequencies = []
for i in set(testwords):
    frequencies.append(testwords.count(i))

In [14]:
# Unique words
testwords = set(testwords)

In [15]:
# TOP-50
yx = list(zip(frequencies, testwords))
sorted(yx, reverse = True)[:50]

[(5287, 'the'),
 (5045, 'to'),
 (4399, 'in'),
 (4323, 'of'),
 (2796, 'a'),
 (2266, 'and'),
 (1822, 'for'),
 (1582, 'on'),
 (1121, 'is'),
 (983, 'by'),
 (931, 'that'),
 (922, 'has'),
 (917, 'from'),
 (877, 'as'),
 (822, 'with'),
 (658, 'after'),
 (643, '-'),
 (636, 'says'),
 (621, 'at'),
 (614, 'have'),
 (608, 'be'),
 (555, 'are'),
 (549, 'new'),
 (529, 'over'),
 (501, 'an'),
 (480, 'will'),
 (477, 'its'),
 (465, 'it'),
 (460, 'us'),
 (456, 'isis'),
 (395, 'was'),
 (363, 'who'),
 (361, 'than'),
 (351, 'russian'),
 (346, 'more'),
 (345, 'not'),
 (337, 'against'),
 (335, 'russia'),
 (329, 'been'),
 (325, 'government'),
 (320, 'their'),
 (317, 'up'),
 (310, 'china'),
 (308, 'first'),
 (302, 'people'),
 (294, 'saudi'),
 (293, 'state'),
 (289, 'world'),
 (288, 'into'),
 (283, 'u.s.')]