# Import Data

In [1]:
# Link to dataset
url = 'https://query.data.world/s/ghrtsvkjjy26hpojr3qi2zkbska4sr'

In [2]:
# Import Library to upload the data
# E.g. with pandas
import pandas as pd

In [3]:
# Store data
df = pd.read_csv(url)

In [4]:
# Show first 5 rows
df.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [5]:
# Store Date and News in 2 lists
dates = df.Date.tolist()
news = df.News.tolist()

In [6]:
# Show first 5 Dates
dates[:5]

['2016-07-01', '2016-07-01', '2016-07-01', '2016-07-01', '2016-07-01']

In [7]:
# Show first 5 News
news[:5]

['A 117-year-old woman in Mexico City finally received her birth certificate, and died a few hours later. Trinidad Alvarez Lira had waited years for proof that she had been born in 1898.',
 'IMF chief backs Athens as permanent Olympic host',
 'The president of France says if Brexit won, so can Donald Trump',
 "British Man Who Must Give Police 24 Hours' Notice of Sex Threatens Hunger Strike: The man is the subject of a sexual risk order despite having never been convicted of a crime.",
 '100+ Nobel laureates urge Greenpeace to stop opposing GMOs']