# Seminar 02

## notes about mapping and inputs

In [1]:
input_task = '100000 10000 0.05 20'
input_task

'100000 10000 0.05 20'

In [2]:
input_task.split()

['100000', '10000', '0.05', '20']

In [3]:
float('10000') + 3

10003.0

In [4]:
a, b, c, d = map(float, input_task.split())

In [5]:
out = sum([a, b, c, d])
print(out) # YOUR RESULT

110020.05

In [6]:
for i in range(int(3.0)):
    print(i)

0
1
2

## string variables

In [7]:
'Hello'

'Hello'

In [8]:
"Hello"

'Hello'

In [9]:
'Hello'[0]

'H'

In [10]:
'Hello'[1]

'e'

In [11]:
text1 = 'Hello World'
text1

'Hello World'

In [12]:
text1[-1]

'd'

In [13]:
text1[1:4]

'ell'

In [14]:
text1[1:]

'ello World'

In [15]:
text1[:5]

'Hello'

In [16]:
text1[:-1]

'Hello Worl'

In [17]:
text1[-5:]

'World'

## string methods and functions

In [18]:
text1.split()

['Hello', 'World']

In [19]:
text1.split('o')

['Hell', ' W', 'rld']

### length calculation

In [20]:
len(text1)

11

In [21]:
len(list(text1))

11

### Example with `split` method

In [22]:
a = ['hello@edu.ru', 'random@mail.ru', 'random@gmail.com']
a

['hello@edu.ru', 'random@mail.ru', 'random@gmail.com']

In [23]:
'hello@edu.ru'.split('@')[0]

'hello'

In [24]:
for i in a:
    print(i.split('@')[0])

hello
random
random

In [25]:
[i.split('@')[0] for i in a]

['hello', 'random', 'random']

### Uppercase & Lowercase

In [26]:
text1.lower()

'hello world'

In [27]:
text1.upper()

'HELLO WORLD'

In [28]:
'Hello' + 'World'

'HelloWorld'

## Sample task (`for`, `if-else`, odd/even check, `append`, `join`, `+=`)

```
HeLlO WoRlD
```

In [29]:
4 % 2

0

In [30]:
3 % 2

1

In [31]:
number = 6

if number % 2 == 0:
    print('Even')
else:
    print('Odd')

Even

In [32]:
number = -3

if number % 2 == 0:
    print('Even')
elif number > 0:
    print('Positive Odd')
else:
    print('Negative Odd')

Negative Odd

In [33]:
text1[3]

'l'

### `print` output

In [34]:
for i in range(len(text1)):
    if i % 2 == 0:
        print(text1[i].upper(), end = '')
    else:
        print(text1[i].lower(), end = '')

HeLlO WoRlD

### `append` for list

In [35]:
out2 = []
out2.append(1)
out2.append(4)
out2.append(10000)

out2

[1, 4, 10000]

In [36]:
out = []

for i in range(len(text1)):
    if i % 2 == 0:
        out.append(text1[i].upper())
    else:
        out.append(text1[i].lower())
        
privet = ''.join(out)

In [37]:
privet

'HeLlO WoRlD'

### In list comprehension
[TRUE CONDITION FALSE LOOP]

In [38]:
''.join([text1[i].upper() if i % 2 == 0 else text1[i].lower() for i in range(len(text1))])

'HeLlO WoRlD'

### Concatenation for string

In [39]:
out = ''

for i in range(len(text1)):
    if i % 2 == 0:
        out += text1[i].upper()
        # out = out + text1[i].upper()
    else:
        out += text1[i].lower()
        
out

'HeLlO WoRlD'

## Change string sequence with `split` and `join`

In [40]:
'@'.join(text1.split('o'))

'Hell@ W@rld'

In [41]:
'😀'.join(text1.split('o'))

'Hell😀 W😀rld'

## Unique elements in `set`

In [42]:
list(set(list(text1)))

['H', 'o', 'e', ' ', 'W', 'l', 'r', 'd']

## String by symbols split

In [43]:
abc = list(text1)
abc

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

## `sort` method

In [44]:
abc.sort()

In [45]:
abc

[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

**Note**: symbols are sorted (by default) with their numbers in [ASCII](https://www.ascii-codes.com/cp855.html) table

In [46]:
abc.sort(reverse = True)

In [47]:
abc

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

## `sorted` function

In [48]:
numbers = [1, 0, 10, 3, 2]

sorted(numbers, reverse = True)

[10, 3, 2, 1, 0]

In [49]:
numbers

[1, 0, 10, 3, 2]

## Example: count and format frequency table

In [50]:
abc.count('o')

2

In [51]:
a = input('Hello, there!\nWhat is your name?\n\n')
print('Hello', a, '!!!!')

Hello, there!
What is your name?

Ivan
Hello Ivan !!!!

In [52]:
print('Hello, {}! How are you?\n{}'.format('JOHN', 'Fine!'))

Hello, JOHN! How are you?
Fine!

In [53]:
for i in list(set(list(text1))):
    t = '{}: {}'.format(i, text1.count(i))
    print(t)

H: 1
o: 2
e: 1
 : 1
W: 1
l: 3
r: 1
d: 1

In [54]:
letters = list(set(list(text1)))
letters

['H', 'o', 'e', ' ', 'W', 'l', 'r', 'd']

In [55]:
freq = [text1.count(i) for i in letters]
freq

[1, 2, 1, 1, 1, 3, 1, 1]

In [56]:
m = sorted(list(zip(freq, letters)), reverse = True)
m

[(3, 'l'),
 (2, 'o'),
 (1, 'r'),
 (1, 'e'),
 (1, 'd'),
 (1, 'W'),
 (1, 'H'),
 (1, ' ')]

In [57]:
for i in m:
    a = '{}: {}'.format(i[1], i[0])
    print(a)

l: 3
o: 2
r: 1
e: 1
d: 1
W: 1
H: 1
 : 1

## Custom sort (option `key`)

In [61]:
names = ['Ivanov Ivan', 'Pushkin Aleksander', 'Nolan Christopher']
sorted(names)

['Ivanov Ivan', 'Nolan Christopher', 'Pushkin Aleksander']

In [62]:
# Sorting by names, while preserving initial structure
# Firstly, define the key (criteria)
# We need to sort by name
# Secondly write the function, that extracts name from given string with space

def my_name(x):
    return x.split()[1]

In [63]:
# Check on certain example
my_name('Ivanov Ivan')

'Ivan'

In [64]:
# Use this function as a key for sorting
sorted(names, key = my_name)

['Pushkin Aleksander', 'Nolan Christopher', 'Ivanov Ivan']

In [65]:
# Or you do not create the function separately
# You can prove this relation inside key anonymously (using lambda function)
sorted(names, key = lambda x: x.split()[1])

['Pushkin Aleksander', 'Nolan Christopher', 'Ivanov Ivan']

## notes about avoiding errors (`try` `except`)

In [59]:
# Zero Division Example
a = input('Hello!\nEnter nominator: ')
b = input('Enter denominator: ')

try:
    a = int(a)
    b = int(b)
    print('\nYour result: {}/{}={}'.format(a, b, a/b))
except:
    print('ERROR! Enter integer numbers and do not divide by zero!')

Hello!
Enter nominator: 5
Enter denominator: 0
ERROR! Enter integer numbers and do not divide by zero!