# Seminar 6
## Test Preparation

In [1]:
import re

## Task 1

In [2]:
def auto_number(x):
    if re.fullmatch('[A-Z](?!000)\d{3}[A-Z]{2}((?!000)\d{3}|(?!00)\d{2})', x):
        return 1
    else:
        return 0

In [3]:
assert auto_number('A022MR178') == 1
assert auto_number('A02MR178') == 0
assert auto_number('AO01MR178') == 0
assert auto_number('A002CC78') == 1
assert auto_number('A000WQ12') == 0
assert auto_number('E999TT00') == 0
assert auto_number('WAS2107TT03') == 0
assert auto_number('1') == 0
assert auto_number('W111W11') == 0
assert auto_number('F050LB001') == 1
assert auto_number('F050LB001k') == 0

## Task 2

In [4]:
def check_mail(x):
    if re.fullmatch('\w{3,}@\w{2,}\.[a-z]{2,3}', x):
        return(1)
    else:
        return(0)

In [5]:
assert check_mail('ivanov@hse.ru') == 1
assert check_mail('pet@gmail.com') == 1
assert check_mail('100@00.io') == 1
assert check_mail('ff@mail.ru') == 0
assert check_mail('f.f@mail.ru') == 0
assert check_mail('petr@bk..io') == 0
assert check_mail('rus@bg.ru@') == 0
assert check_mail('rums@@j1.com') == 0
assert check_mail('r09@0j.ru') == 1
assert check_mail('pavel@educ.hsec.ruc') == 0
assert check_mail('valley0000@0j1.ua') == 1
assert check_mail('world@dropbox.r6') == 0

## Task 3

In [6]:
def check_phone(x):
    if re.fullmatch('[1-9]{2}.{2}[1-9].{6}', x.replace(' ', '')):
        return('+{}({}{}{}){}{}{}-{}{}-{}{}'.format(*x.replace(' ', '')))
    else:
        return(0)

In [7]:
assert check_phone('7 800 123456 7 ') == '+7(800)123-45-67'
assert check_phone('1234567 8 9 0   5') == '+1(234)567-89-05'
assert check_phone('1') == 0
assert check_phone('1234 567890') == 0
assert check_phone('0 222 450 09 09') == 0
assert check_phone('1 023 4005678 ') == 0
assert check_phone('89110300001') == 0

## Task 4

In [8]:
def check_pass(x):
    if re.fullmatch('(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[\+\*]).{5,}', x):
        return(1)
    else:
        return(0)

In [9]:
assert check_pass('Ab123+') == 1
assert check_pass('hR0*') == 0
assert check_pass('hR0* ') == 1
assert check_pass('mmm016') == 0
assert check_pass('*mMm88') == 1
assert check_pass(' +e0P') == 1
assert check_pass('F1+R)') == 0
assert check_pass('F1+R(gb') == 1
assert check_pass(' r 1 T * ') == 1
assert check_pass('1**ML') == 0

## Task 5
### Dictionary solution

In [10]:
# Import CSV from https://finance.yahoo.com/quote/CSV/history/
url = 'https://query1.finance.yahoo.com/v7/finance/download/CSV?period1=1570709593&period2=1602331993&interval=1d&events=history&includeAdjustedClose=true'

In [11]:
import csv

with open('CSV.csv', mode='r') as infile:
    reader = csv.DictReader(infile)
    data = {}
    for row in reader:
        for column, value in row.items():
            data.setdefault(column, []).append(value)

In [12]:
# Year-Month and Close price
data_new = [(j[:-3], float(data['Close'][i])) for i, j in enumerate(data['Date']) if j[:4] == '2020']
data_new[:10]

[('2020-01', 25.27),
 ('2020-01', 25.43),
 ('2020-01', 25.690001),
 ('2020-01', 25.32),
 ('2020-01', 25.280001),
 ('2020-01', 25.08),
 ('2020-01', 25.200001),
 ('2020-01', 25.17),
 ('2020-01', 25.309999),
 ('2020-01', 25.620001)]

In [13]:
# Unique Year-Month
year_month = sorted(list(set([i[0] for i in data_new])))
year_month

['2020-01',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10']

In [14]:
# Finally
from statistics import mean
[(i, mean([j[1] for j in data_new if j[0] == i])) for i in year_month]

[('2020-01', 25.01000019047619),
 ('2020-02', 23.236315842105263),
 ('2020-03', 16.950908954545454),
 ('2020-04', 15.053809571428571),
 ('2020-05', 16.35299995),
 ('2020-06', 18.988636454545453),
 ('2020-07', 18.954090954545453),
 ('2020-08', 22.702380952380953),
 ('2020-09', 21.554285523809522),
 ('2020-10', 23.615714571428573)]

### Pandas approach

In [15]:
import pandas as pd
df = pd.read_csv(url)

In [16]:
df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2019-10-10  20.950001  21.480000  20.900000  21.309999  20.995378  109700
1  2019-10-11  21.500000  21.740000  21.270000  21.299999  20.985527   82600
2  2019-10-14  21.090000  21.420000  21.080000  21.330000  21.015085   66000
3  2019-10-15  21.389999  21.610001  21.360001  21.490000  21.172720  116300
4  2019-10-16  21.420000  21.490000  21.070000  21.080000  20.768774   74400

In [17]:
# Add Year-Month columns
df['Month'] = df.Date.apply(lambda x: '-'.join(x.split('-')[:2]))
df['Year'] = df.Date.apply(lambda x: x.split('-')[0])
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Month,Year
0,2019-10-10,20.950001,21.480000,20.900000,21.309999,20.995378,109700,2019-10,2019
1,2019-10-11,21.500000,21.740000,21.270000,21.299999,20.985527,82600,2019-10,2019
2,2019-10-14,21.090000,21.420000,21.080000,21.330000,21.015085,66000,2019-10,2019
3,2019-10-15,21.389999,21.610001,21.360001,21.490000,21.172720,116300,2019-10,2019
4,2019-10-16,21.420000,21.490000,21.070000,21.080000,20.768774,74400,2019-10,2019

In [18]:
# Summarize with condition
df[df.Year == '2020'].groupby('Month').mean().Close

Month
2020-01    25.010000
2020-02    23.236316
2020-03    16.950909
2020-04    15.053810
2020-05    16.353000
2020-06    18.988636
2020-07    18.954091
2020-08    22.702381
2020-09    21.554286
2020-10    23.615715
Name: Close, dtype: float64